# Binaries
bin/
clamav-service

# Persistent Data & Local Storage
data/
*.db
*.db-journal
*.db-wal
*.quarantine

# Environment & Secrets
.env

# Logs
*.log
/var/log/

# IDE / OS
.DS_Store
.idea/
.vscode/
